@mixin inner{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;

  width:753.32px /  1366px * 100%;
}


@mixin a{
  color:white;
  text-decoration: none;
  &:active{
    color:white;
  }
  
  &:visited{
    color:white;
  }
  &:hover{
    color:white;
    cursor: pointer;
  
  }
}